body {
    background-color: black;
}
h1 {
  text-align: center;
  color: red

}
div#concentration_board{
	background:#000;
	border:#000 3px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#concentration_board > div{
	background: url(card_stock.jpg) no-repeat;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}
